html, body {
  height: 100%;
  background-color: black;
}
#droparea {
  height: 50%;
  margin: 5%;
  border: dashed gray 10px;
  color: gray;
  border-radius: 55px;
}
#droparea.hover {
  height: 70%;
  margin: 20px;
  border: dashed white 10px;
  color: white;
}
#droparea p {
  text-align: center;
  font-size: 50px;
}
#files {
  text-align: center;
  margin-top: 50px;
}
a {
  color: white;
  border: solid 2px white;
  background-color: #555;
  margin: 5px;
  padding-left: 20px;
  text-decoration: none;
  line-height: 40px;
  display: inline-block;
  border-radius: 5px;
  padding-right: 20px;
}
